html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	/* font: inherit; */
	vertical-align: baseline;
  color:#fff;
}
em, i {font-style: normal;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
q {
  margin-block-end: 0;
  margin-block-start: 0;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {color:#352017; text-decoration:none;}


/* layout */

body, html {background-color:#006bef; font-family: 'Noto Serif KR', sans-serif;
}
.ly-all {position:relative; display: flex; box-sizing:border-box; flex-direction:column; z-index:999;}
.txt-mainTit a {font-size:40px; letter-spacing:5px; font-weight:normal;}

.ly-contents {display:flex; width:100%; height:100vh; flex-direction:column; text-align:center; justify-content: center;}
.ly-contents.type-main {position:relative;}
.ly-contents.type-main p {padding:10px 0; font-size:18px;}
.ly-contents.type-main b {padding:10px 0; font-weight:bold; font-size:26px;}
.ly-contents.type-main b p {font-size:26px; font-weight:lighter;}
.ly-contents.type-main span {margin-top:20px; font-size:16px;}

.ly-contents.type-detail {padding:0 40px; box-sizing:border-box; align-items: center}
.ly-contents.type-detail strong {font-size:24px; margin-bottom:20px;}
.ly-contents.type-location p,
.ly-contents.type-location span {font-size:18px;}

b.txt-greet {max-width:500px; line-height:30px; font-weight:lighter;}
.wrap-map {width:400px; height:400px; margin:20px auto; border:1px solid #999;}


.ly-contents.type-mind {}
.list-mind {}
.list-mind ul li {padding:4px 0;}
.list-mind ul li input {opacity:0;}

/* 스크롤바 설정*/

html {
  scrollbar-color: #006bef #ccc;
  scrollbar-width: thin;
}

::-webkit-scrollbar{
  width: 6px;
  height:6px;
}

::-webkit-scrollbar-thumb{
  height: 17%;
  background-color:#006bef;
  border-radius: 10px;  
}

::-webkit-scrollbar-track{
  background-color: #ccc;
}

::-webkit-scrollbar-corner {
  background-color: #ccc;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* media query */

@media (max-width: 800px) { 
 
}

@media (max-width: 500px) { 

  .wrap-map {width:90%;}
 
 }