html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	/* font: inherit; */
	vertical-align: baseline;
  color:#fff;
}
em, i {font-style: normal;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
q {
  margin-block-end: 0;
  margin-block-start: 0;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {color:#352017; text-decoration:none;}

.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}

/* layout */

body, html {background-color:#56dfcc; font-family: 'Noto Serif KR', sans-serif;
}
.ly-all {position:relative; display: flex;box-sizing:border-box;
  align-items: center; flex-direction:column; z-index:999;}

.ly-contents {padding:0 10px;}
.ly-contents > strong,
.ly-contents > strong > span {margin-bottom:20px; line-height:26px; font-size: 20px;}

.ly-contents.type-fixed {position:absolute; z-index:999; top:0; bottom:0; left:0; right:0; background-color:#56dfcc;
animation:fade-out 2.4s linear forwards;}

@keyframes fade-out {
  0% {opacity:1; top:0;}
  40% {opacity:1;}
  60% {opacity:0.4; top:-50px;}
  80% {opacity:0.2; top:-80px; position:relative; visibility: hidden;}
  100% {opacity:0;  top:-100px; display:none;}
}

@keyframes fade-in {
  0% {opacity:0;}
  50% {opacity:0.2;}
  100% {opacity:1;}
}

.txt-greet {max-width:80%;}
.txt-greet b {display:block; text-align:left;}
.txt-greet em {display:block; font-size:14px; line-height:30px; margin-top:10px; text-align:left;}
.txt-greet i {display:block; line-height:22px;}

.ly-contents {display:flex; width:100%; height:100vh; flex-direction:column; text-align:center; justify-content: center;}

.ly-contents.type-userinfo p,
.ly-contents.type-userinfo span {margin:10px 0; font-size:20px; line-height:26px;}
.btn-userinfo {position:relative; display:block; width:100px; height:40px; margin:30px auto;
line-height:40px; color:#fff; background: rgba(255,255,255,0.2); border-radius:20px; cursor: pointer;}
.btn-userinfo.disabled {color:rgba(255,255,255,0.2); background: rgba(255,255,255,0.01); cursor:default;}


.wrap-input {position:relative; width:120px; margin:10px auto; padding:0 0 10px 100px; box-sizing:border-box; border-bottom:2px solid #fff;}
.wrap-input input {position:absolute; top:0; right:20px; width:100px; height:36px; z-index:9; background:none; border:none; box-sizing:border-box;
color: rgba(0,0,0,0);}
.wrap-input input:focus-visible {outline:none; border:1px solid gold;}
.wrap-input b {position:absolute; top:0; right:20px; width:100px; height:36px; line-height: 25px;
  font-size: 22px; z-index:1;}

.ly-contents.type-main {position:relative; opacity:0; animation: fade-in 4s forwards linear;}
.ly-contents.type-main p {padding:10px 0; font-size:18px;}
.ly-contents.type-main b {padding:10px 0; font-weight:bold; font-size:26px;}
.ly-contents.type-main span {margin-top:10px; font-size:16px;}

.ly-contents.type-gallery  {background: rgb(86,223,204);
  background: linear-gradient(180deg, rgba(86,223,204,1) 0%, rgba(228,250,247,1) 23%, rgba(241,252,251,1) 51%, rgba(203,245,239,1) 82%, rgba(86,223,204,1) 100%);}

.ly-contents.type-detail {padding:0 40px; box-sizing:border-box; align-items: center}
.ly-contents.type-location p,
.ly-contents.type-location span {font-size:18px;}
.wrap-map {width:400px; height:400px; margin:20px auto; border:1px solid #999;}

.list-maps {}
.list-maps li {padding:3px 0;}
.list-maps li b {margin-bottom:10px; font-size:14px; text-decoration:underline;}
.list-maps li span {display:block; font-size:13px !important;}

.ly-contents.type-mind {}
.list-mind {width:80%; margin:0 auto;}
.list-mind li > p {margin-bottom:20px; text-align:left;}
.list-mind ul li {padding:4px 0;}
.list-mind ul li p {margin-bottom:10px; font-size:14px;}
.wrap-accountnum input {opacity:0; width:0;}
.txt-accountinfo {display:flex; justify-content: space-between;}
.txt-accountinfo b {font-size:14px;}
.wrap-accountnum button {border-radius:3px; border:1px solid #fff; color:#fff; background:#56d1c2;}

.ly-contents.type-location > p {margin:5px 0; font-size:16px;}

.wrap-btn {display:flex; margin:20px 0;}
.btn-map {display:inline-block; width:50%; height:30px; line-height:30px;; color:#fff;}


/* photo silder */
.list-photo {position:relative;}
.slick-list {max-width:90%; margin:0 auto !important; height:400px; border:1px solid #ccc;}
.list-photo  .slick-arrow {position:absolute; bottom:-20px;}
.list-photo .slick-prev {right:40px;}
.list-photo .slick-next {right:0;}

/* 스크롤바 설정*/

html {
  scrollbar-color: #56d1c2 #56dfcc;
  scrollbar-width: thin;
}

::-webkit-scrollbar{
  width: 6px;
  height:6px;
}

::-webkit-scrollbar-thumb{
  height: 17%;
  background-color:#56d1c2;
  border-radius: 10px;  
}

::-webkit-scrollbar-track{
  background-color: #56dfcc;
}

::-webkit-scrollbar-corner {
  background-color: #56dfcc;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

input::placeholder {
  color: #fff;
}

/* media query */

@media (max-width: 800px) { 
 
}

@media (max-width: 500px) { 

  .wrap-map {width:90%; height:auto;}
 
 }